@model FlightBoard.Web.Models.ChangePasswordModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="loginContainer">
    <div class="loginForm userManageForm">

        @using (Html.BeginForm("ActivateChangePassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.ValidationSummary(true)

            <ul>
                <li><h3>Create New Password</h3></li>
                <li>
                    @Html.PasswordFor(m => m.NewPassword, new { @maxlength = 100, @placeholder = "New Password", @class = "textbox" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </li>
                <li>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @maxlength = 100, @placeholder = "Confirm New Password", @class = "textbox" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </li>
                <li>
                    <input type="submit" value="Submit" class="button medium" />
                    <input name="" type="button" class="button medium" value="Reset" onclick="location.href = '../Account/ActivateChangePassword'" />
                </li>
            </ul>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
