@model FlightBoard.Web.Models.ForgotPasswordModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Log in";
}

@using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <ul>
        <li><h3>Forgot Password</h3></li>
        <li>
            @Html.TextBoxFor(m => m.UserName, new { @class = "textbox", @maxlength = 100, @placeholder = "Username" })
            @Html.ValidationMessageFor(m => m.UserName)           
        </li>
        <li>
            @Html.PasswordFor(m => m.SSN, new { @class = "textbox", @maxlength = 100, @placeholder = "Last 4 digits of SSN" })
            @Html.ValidationMessageFor(m => m.SSN)           
        </li>
        <li>
            <input type="submit" value="Ok" class="button medium" />
            <input name="" type="button" class="button medium" value="Reset" onclick="location.href = '../Account/ForgotPassword'" />
        </li>
        <li>@Html.ActionLink("Back to login", "Login", "Account")</li>
    </ul>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}